* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    font-weight: 500;
    font-size: 0.84vw;
    color: #070A1C;
    letter-spacing: -1%;
    box-sizing: border-box;
}

@font-face {
    font-family: MainFont;
    src: url("/media/fonts/font.ttf");
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}

body {
    background-color: #FAF8FF;
    overflow-y: scroll;
}


header {
    height: 7%;
    width: 100vw;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vw;

    margin-bottom: 3vh;
}

header .logo {
    height: 2vh;
}

header .tabsExit {
    display: flex;
    align-items: center;
    gap: 1.78vw;
}

header .tabsExit .exit {
    width: 5vw;
    height: 4.20vh;

    background-color: white;
    border-radius: 1234px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    gap: 0.42vw;
    justify-content: center;

    cursor: pointer;
}

header .tabsExit .exit img {
    width: 1.05vw;
    height: 2.1vh;
}

header .tabsExit .tabs {
    display: flex;
    align-items: center;
    gap: 1.47vw;
}

header .tabsExit .tabs .tab {
    display: flex;
    align-items: center;
    gap: 0.47vw;
}

header .tabsExit .tabs .tab img {
    display: flex;
    align-items: center;
    width: 1.05vw;
}

header a {
    text-decoration: none;
}

.main-div {
    display: flex;
}

.menu-options {
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 152px;
    margin-left: 80px;
    gap: 16px;
}

.menu-urls {
    text-decoration: none;
}

#MainText {
    font-weight: 700;
}

#Alboms {
    color: #81818D;
}

.options-div {
    display: flex;
    flex-direction: column;
    width: 924.5px;
    height: 1036px;
    gap: 8px;
    margin-left: 435.5px;
    background-color: white
}

.card-profile-div {
    display: flex;
    flex-direction: column;
    width: 924.5px;
    height: 263px;
    gap: 16px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.card-profile-header {
    display: flex;
    justify-content: space-between;
    width: 892.5px;
    height: 40px;
    gap: 16px;
    margin-left: 16px;
    margin-top: 16px;
}

.avatar-and-textdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 892.5px;
    height: 175px;
    gap: 24px;
}

.avatar-and-textdiv img {
    width: 96px;
    height: 96px;
}

.nickname-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 892.5px;
    height: 55px;
    gap: 10px;
}

.nickname-text {
    font-weight: 700;
    font-size: 24px;
}

.personal-information-div {
    display: flex;
    flex-direction: column;
    width: 924.5px;
    height: 490px;
    gap: 16px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.personal-information-header {
    display: flex;
    justify-content: space-between;
    width: 892.5px;
    height: 40px;
    gap: 16px;
    margin-left: 14px;
    margin-top: 16px;
}

.all-inputs-div {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 394px;
    gap: 16px;
    margin-left: 14px;
}

.input-div {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 66px;
    gap: 10px;
}

.input-div p {
    color: #81818D;
    font-weight: 400;
    font-size: 16px;
}

.name-input-div {
    display: flex;
    align-items: center;
    width: 343px;
    height: 42px;
    gap: 10px;
}

.name-input-div input {
    width: 313px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #81818D;
    padding-left: 16px;
    gap: 10px;
}

.name-input-div img {
    width: 20px;
    height: 20px;
}

.password-div {
    width: 343px;
    height: 42px;
}

.password-div input {
    width: 343px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #81818D;
    padding-left: 16px;
    gap: 10px;
    background: url('images/notviewOption.png');
}

.signature-options-div {
    display: flex;
    flex-direction: column;
    width: 924.5px;
    height: 267px;
    gap: 16px;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.name-and-signature-div {
    display: flex;
    flex-direction: column;
    width: 638px;
    height: 179px;
    gap: 24px;
    margin-left: 16px;
}

.name-and-surname {
    display: flex;
    flex-direction: column;
    width: 638px;
    height: 54px;
    gap: 16px;
}

.name-and-surname-header {
    display: flex;
    width: 160px;
    height: 20px;
    gap: 8px;
}

.name-and-surname-header p {
    opacity: 50%;
    color: #543C52;
}

.name-and-surname-header img {
    width: 20px;
    height: 20px;
    opacity: 50%;
}

.signature-only-div {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 101px;
    gap: 16px;
}

.signature-only-div-header {
    display: flex;
    width: 210px;
    height: 20px;
    gap: 8px;
}

.signature-only-div-header p {
    opacity: 50%;
    color: #543C52;
}

.signature-only-div-header img {
    width: 20px;
    height: 20px;
    opacity: 50%;
}

.signature-img-div {
    display: flex;
    align-items: center;
    width: 220px;
    height: 65px;
    justify-content: center;
}

.signature-options-header {
    display: flex;
    justify-content: space-between;
    width: 892.5px;
    height: 40px;
    gap: 16px;
    margin-left: 16px;
    margin-top: 16px;
}

.edit-information-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 40px;
    border-radius: 1900px;
    gap: 10px;
    background-color: #FFFFFF;
    border: 1px solid #543C52;
    color: #543C52;
    font-size: 14px;
}

.edit-information-btn img {
    width: 20px;
    height: 20px;
}