* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    font-weight: 500;
    font-size: 0.84vw;
    color: #070A1C;
    letter-spacing: -1%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: MainFont;
    src: url("/media/fonts/font.ttf");
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}

body {
    background-color: #FAF8FF;
}

header {
    height: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vw;
    margin-bottom: 3vh;
    padding-left: 3.65vw;
    position: fixed;
}

header .logo {
    height: 2vh;
}

header .tabsExit {
    display: flex;
    align-items: center;
    gap: 1.78vw;
}

header .tabsExit .exit {
    width: 5vw;
    height: 4.20vh;
    background-color: white;
    border-radius: 64.27vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 0.42vw;
    justify-content: center;
    cursor: pointer;
}

header .tabsExit .exit img {
    width: 1.05vw;
    height: 2.10vh;
}

header .tabsExit .tabs {
    display: flex;
    align-items: center;
    gap: 1.47vw;
}

header .tabsExit .tabs .tab {
    display: flex;
    align-items: center;
    padding-left: 0.42vw;
    padding-right: 0.42vw;
    gap: 0.47vw;
    height: 2.41vh;
}

header .tabsExit .tabs .tab img {
    display: flex;
    align-items: center;
    width: 1.05vw;
}

header a {
    text-decoration: none;
}

.tab-now {
    background-color: #E9E5EE;
}

.main-div {
    display: flex;
}

main {
    display: flex;
    padding-top: 10vh;
}

.menu-friends {
    display: flex;
    flex-direction: column;
    width: 13.23vw;
    height: 14.07vh;
    margin-left: 4.17vw;
    gap: 1.48vh;
    margin-right: -2.86vw;
}

.menu-urls {
    text-decoration: none;
}

#MainText {
    color: #070A1C;
    font-weight: 700;
}

#Requests,
#Recomendations,
#AllFriends,
#Friends {
    color: #81818D;
}

.all-menu-friends-div {
    display: flex;
    flex-direction: column;
    width: 48.07vw;
    height: 1145px;
    margin-left: 22.76vw;
    gap: 0.74vh;
}

.requests-friends {
    display: flex;
    flex-direction: column;
    width: 48.07vw;
    /* height: 30.46vh; */
    border: 1px solid #CDCED2;
    border-radius: 0.52vw;
    background-color: white;
}

.requests-friends-header {
    display: flex;
    width: 45.99vw;
    height: 1.67vh;
    justify-content: space-between;
    margin-left: 1.04vw;
    margin-top: 1.48vh;
}

.see-all-urls {
    text-decoration: none;
    color: #543C52;
}

.requests-friends-div {
    display: flex;
    width: 48vw;
    flex-wrap: wrap;
    /* height: 24.35vh; */
    gap: 0.74vh;
    margin-left: 1.04vw;
    margin-top: 1.48vh;
    margin-bottom: 1.48vh;
}

.recommendations-friends {
    display: flex;
    flex-wrap: wrap;
    width: 48.07vw;
    max-height: 55.56vh;
    border: 1px solid #CDCED2;
    border-radius: 0.52vw;
    background-color: white;
    padding-bottom: 16px;
}

.recommendations-friends-div {
    display: flex;
    flex-wrap: wrap;
    width: 45.99vw;
    gap: 0.74vh;
    margin-left: 1.04vw;
    margin-top: 1.48vh;
}

.all-friends {
    display: flex;
    flex-direction: column;
    width: 48.07vw;
    border: 1px solid #CDCED2;
    border-radius: 0.52vw;
    background-color: white;
    padding-bottom: 16px;
}

.all-friends-div {
    display: flex;
    flex-wrap: wrap;
    width: 45.99vw;
    gap: 0.74vh;
    margin-left: 1.04vw;
    margin-top: 1.48vh;
}

.friend-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.05vw;
    height: 24.35vh;
    border-radius: 0.52vw;
    border: 1px solid #CDCED2;
    gap: 1.48vh;
}

.avatar-nickname-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.05vw;
    height: 16.20vh;
    gap: 2.22vh;
    margin-top: 1.48vh;
}


.avatar-images {
    width: 8.89vh;
    height: 8.89vh;
    border-radius: 1234px;
}

.nickname-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.05vw;
    height: 5.09vh;
    gap: 0.93vh;
}

.nickname-text {
    font-weight: 700;
    font-size: 1.25vw;
}

.buttons-div-requests {
    display: flex;
    justify-content: space-between;
    width: 11.51vw;
    height: 3.70vh;
    gap: 1.48vh;
}

.buttons-div-recommendations {
    display: flex;
    justify-content: space-between;
    width: 9.84vw;
    height: 3.70vh;
    gap: 1.48vh;
}

.buttons-div-all-friends {
    display: flex;
    justify-content: space-between;
    width: 12.14vw;
    height: 3.70vh;
    gap: 1.48vh;
}

.accept-button {
    width: 5.78vw;
    height: 3.70vh;
    border-radius: 68.96vw;
    gap: 0.42vw;
    background-color: #543C52;
    border: 0;
    color: white;
    font-size: 0.73vw;
}

.delete-button {
    width: 4.90vw;
    height: 3.70vh;
    border-radius: 68.96vw;
    gap: 0.42vw;
    background-color: white;
    border: 1px solid #543C52;
    color: #543C52;
}

.add-button {
    width: 4.11vw;
    height: 3.70vh;
    border-radius: 68.96vw;
    gap: 0.42vw;
    background-color: #543C52;
    border: 0;
    color: white;
    font-size: 0.73vw;
}

.message-button {
    width: 6.41vw;
    height: 3.70vh;
    border-radius: 68.96vw;
    gap: 0.42vw;
    background-color: #543C52;
    border: 0;
    color: white;
    font-size: 0.73vw;
}