* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    box-sizing: border-box;
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}

body {
    background-color: rgba(233, 229, 238, 1);
    overflow: hidden;
}

header {
    width: 100%;
    height: 8.8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 7.61vw;
    height: 1.89vh;
}

label,
input {
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
}

input {
    margin-top: 0.6vh;
    width: 5vw;
    height: 4.5vh;
    border: 0.1vw solid #CDCED2;
    border-radius: 1vh;
    padding-left: 1.6vw;
}

.inputBlocks {
    display: flex;
    gap: 1.6vw;
    align-items: center;
    justify-content: center;
}

span {
    display: none;
}

ul {
    display: none;
}

main {
    width: 100vw;
    height: 100vh;
    padding-left: 26.39vw;
    background-color: #E9E5EE;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-bottom: 6vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3.6vh;
}

.formDiv {
    width: 25.56vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.62vh;
    box-sizing: border-box;
    border-radius: 2vh;
    gap: 1.89vw;
    z-index: 100;
    padding-bottom: 8.78vh;
}

.greatings {
    font-size: 2.4vh;
    color: #070A1C;
}

.choosed {
    font-weight: 700;
    color: #070A1C;
    border-bottom: 0.2vh solid black;
}

.regLogin {
    display: flex;
    gap: 2.4vw;
}

a {
    font-size: 1.6vh;
    color: #81818D;
    width: 100%;
    height: 1.6vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: -1.5vh;
}

.withoutButton {
    width: 40vw;
    height: 23vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1.6vh;
}

.submit {
    width: 40vw;
    height: 5.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #543C52;
    border-radius: 123.4vw;
    color: white;
    border: 0;
}

.username {
    display: none;
}

.guide {
    width: 40vw;
    height: 5.4vh;
    text-align: center;
}

.laptop-img {
    width: 35.70vw;
    height: 27.66vw;
    position: absolute;
    left: 47.26vw;
    top: 26.02vh;
}