{% extends "base.html" %}
{% load static %}


{% block title %} friends Page {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/friends.css' %}">
<script src="{% static 'js/jquery-3.7.1.min.js' %}" defer></script>
<script src="{% static 'js/friends.js' %}" defer></script>
{% endblock %}

{% block content %}
<header>
    <img src="{% static 'images/logo.png' %}" class="logo">
    <div class="tabsExit">
        <div class="tabs">
            <a href="{% url 'main' %}" class="main tab"><img src="{% static 'images/main.png' %}">Головна</a>

            <a href="{% url 'my_publications' %}" class="publications tab"><img
                    src="{% static 'images/publications.png' %}">Мої публікації</a>

            <a href="{% url 'friends' %}" class="friends tab tab-now"><img
                    src="{% static 'images/friends.png' %}">Друзі</a>

            <a href="{% url 'chats' %}" class="chats tab"><img src="{% static 'images/chat.png' %}">Чати</a>

            <a href="{% url 'settings' user.pk %}" class="settings tab"><img
                    src="{% static 'images/settings.png' %}">Налаштування</a>

        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="exit" onclick=""><img src=" {% static 'images/exit.png' %}">Вихід</button>
        </form>

    </div>
</header>

<main>
    <div class="main-div">
        <div class="menu-friends">
            <a class="menu-urls" href=""><u id="MainText" title="Подчеркнутый текст">Головна</u></a>
            <a class="menu-urls" id="Requests" href="{% url 'requests' %}">Запити</a>
            <a class="menu-urls" id="Recomendations" href="{% url 'recomendations' %}">Рекомендації</a>
            <a class="menu-urls" id="AllFriends" href="{% url 'all_friends' %}">Всі друзі</a>
        </div>
        <div class="all-menu-friends-div">
            <div class="requests-friends">
                <div class="requests-friends-header">
                    <p>Запити</p>
                    <a class="see-all-urls" href="">Дивитись всі</a>
                </div>
                <div class="requests-friends-div">
                    {% for request in requests %}
                    <div class="friend-profile">
                        <input type="hidden" id="{{request.id}}" class="friendship_id">
                        <div class="avatar-nickname-div">
                            {% if request.profile1.avatar_set.last.image != None %}
                            <img class="avatar-images" src="{{ request.profile1.avatar_set.last.image.url }}" alt="">
                            {% else %}
                            <img class="avatar-images" src="{% static 'images/standart_user_image.png' %}" alt="">
                            {% endif %}
                            <div class="nickname-name">
                                <p class="nickname-text">{{ request.profile1.user.first_name }}
                                    {{request.profile1.user.last_name }}</p>
                                <p>@{{ request.profile1.user.username }}</p>
                            </div>
                        </div>
                        <div class="buttons-div-requests">
                            <button class="accept-button"
                                value="{% url 'accept_friend' request.id %}">Підтвердити</button>
                            <button class="delete-button" value="">Видалити</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="recommendations-friends">
                <div class="requests-friends-header">
                    <p>Рекомендації</p>
                    <a class="see-all-urls" href="">Дивитись всі</a>
                </div>
                <div class="recommendations-friends-div">
                    {% for friend in recomended_friends %}
                    <div class="friend-profile" href="{% url 'friend_view' friend.id %}">
                        <div class="avatar-nickname-div">
                            {% if friend.avatar_set.last.image != None %}
                            <img class="avatar-images" src="{{ friend.avatar_set.last.image.url }}" alt="">
                            {% else %}
                            <img class="avatar-images" src="{% static 'images/standart_user_image.png' %}" alt="">
                            {% endif %}
                            <div class="nickname-name">
                                <p class="nickname-text">{{ friend.user.first_name }} {{ friend.user.last_name }}</p>
                                <p>@{{ friend.user.username }}</p>
                            </div>
                        </div>
                        <div class="buttons-div-recommendations">
                            <button class="add-button" name="add"
                                value="{% url 'request_friend' friend.id %}">Додати</button>
                            <button class="delete-button" name="delete" value="{{friend.id}}">Видалити</button>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="all-friends">
                <div class="requests-friends-header">
                    <p>Всі друзі</p>
                    <a class="see-all-urls" href="">Дивитись всі</a>
                </div>
                <div class="all-friends-div">
                    {% for friend in friends %}
                    {% if friend.profile2.user.username == user.username %}
                    <div class="friend-profile" href="{% url 'friend_view' friend.id %}">
                        <div class="avatar-nickname-div" id="{{friend.profile1.id}}">
                            {% if friend.profile2.avatar_set.last.image != None %}
                            <img class="avatar-images" src="{{ friend.profile1.avatar_set.last.image.url }}" alt="">
                            {% else %}
                            <img class="avatar-images" src="{% static 'images/standart_user_image.png' %}" alt="">
                            {% endif %}
                            <div class="nickname-name">
                                <p class="nickname-text">{{ friend.profile1.user.first_name }}
                                    {{friend.profile1.user.last_name }}</p>
                                <p>@{{ friend.profile1.user.username }}</p>
                            </div>
                        </div>
                        <div class="buttons-div-recommendations">
                            <button class="add-button" name="add"
                                value="{% url 'request_friend' friend.id %}">Додати</button>
                            <button class="delete-button" name="delete" value="{{friend.profile1.id}}">Видалити</button>
                        </div>
                    </div>
                    {% else %}
                    <div class="friend-profile" href="{% url 'friend_view' friend.id %}">
                        <div class="avatar-nickname-div" id="{{friend.profile2.id}}">
                            {% if friend.profile2.avatar_set.last.image != None %}
                            <img class="avatar-images" src="{{ friend.profile2.avatar_set.last.image.url }}" alt="">
                            {% else %}
                            <img class="avatar-images" src="{% static 'images/standart_user_image.png' %}" alt="">
                            {% endif %}
                            <div class="nickname-name">
                                <p class="nickname-text">{{ friend.profile2.user.first_name }}
                                    {{friend.profile2.user.last_name }}</p>
                                <p>@{{ friend.profile2.user.username }}</p>
                            </div>
                        </div>
                        <div class="buttons-div-recommendations">
                            <button class="add-button" name="add"
                                value="{% url 'request_friend' friend.id %}">Додати</button>
                            <button class="delete-button" name="delete" value="{{friend.profile2.id}}">Видалити</button>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}