* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    font-weight: 500;
    font-size: 0.84vw;
    color: #070A1C;
    letter-spacing: -1%;
    box-sizing: border-box;
}

@font-face {
    font-family: MainFont;
    src: url("/media/fonts/font.ttf");
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}

body {
    background-color: #FAF8FF;
    overflow-y: hidden;
}


header {
    height: 7%;
    width: 100vw;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vw;
    padding-left: 5vw;

    margin-bottom: 3vh;
}

header .logo {
    height: 2vh;
}

header .tabsExit {
    display: flex;
    align-items: center;
    gap: 1.78vw;
}

header .tabsExit .exit {
    width: 5vw;
    height: 4.20vh;

    background-color: white;
    border-radius: 1234px;
    border: 1px solid black;

    display: flex;
    align-items: center;
    gap: 0.42vw;
    justify-content: center;

    cursor: pointer;
}

header .tabsExit .exit img {
    width: 1.05vw;
    height: 2.1vh;
}

header .tabsExit .tabs {
    display: flex;
    align-items: center;
    gap: 1.47vw;
}

header .tabsExit .tabs .tab {
    display: flex;
    align-items: center;
    gap: 0.47vw;
}

header .tabsExit .tabs .tab img {
    display: flex;
    align-items: center;
    width: 1.05vw;
}

header a {
    text-decoration: none;
}

main {
    padding-left: 4.20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.31vw;
    margin-bottom: 0.52vh;
}

main .userInfo {
    width: 18.43vw;
}

main .miniProfile {
    width: 18.37vw;
    height: 28.44vh;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding-top: 1.68vh;
    box-sizing: border-box;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

main .miniProfile img {
    width: 5.04vw;
    height: 10.07vh;
}

main .miniProfile .avatarNames {
    width: 18.27vw;
    height: 18.36vh;
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    gap: 2.52vh;
}

main .miniProfile .avatarNames .names {
    width: 18.27vw;
    height: 5.77vh;
    display: flex;
    align-items: center;
    gap: 1.05vh;
    flex-direction: column;
}

main .miniProfile .avatarNames .names .nickname {
    width: 18.27vw;
    height: 5.77vh;
    display: flex;
    align-items: center;
    gap: 1.05vh;
    flex-direction: column;

    font-size: 1.26vw;
    font-weight: 700;
}


main .miniProfile .stats {
    width: 18.27vw;
    height: 5.04vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.26vw;
    font-weight: 700;
    margin-top: 0.84vw;
    margin-bottom: 1.68vh;
}

main .miniProfile .stats * {
    width: 6.04vw;
    height: 5.04vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: #81818D;
}

main .miniProfile .stats * .count {
    font-size: 1.05vw;
    color: #070A1C;
    font-weight: 700;
}

main .miniProfile .stats .posts {
    border-right: 1px solid #CDCED2;
}

main .miniProfile .stats .readers {
    border-right: 1px solid #CDCED2;
}

main .requests {
    background-color: white;
    border: 1px solid #CDCED2;
    border-radius: 10px;

    width: 18.43vw;
    height: 26.13vh;

    display: flex;
    margin-top: 0.84vh;
    box-sizing: border-box;
    flex-direction: column;

    padding-left: 0.84vw;
    padding-top: 1.89vh;

    gap: 1.26vw;
}

main .requests .blockName {
    color: #543C52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.41vh;

    width: 16.75vw;
}

main .requests .blockName .showAll {
    color: #543C52;
    width: 7.35vw;
}

main .requests .blockName .name {

    width: 16.75vw;
    height: 2.41vh;

    display: flex;
    align-items: center;
    font-size: 1.05vw;
    color: #81818D;
    gap: 0.42vw;
}



main .requests .blockName .name img {
    width: 1.05vw;
    height: 2.10vh;
}

main .requests .users {

    width: 16.75vw;
    height: 17.84vh;

    display: flex;
    flex-direction: column;
    gap: 1.68vh;
}

main .requests .users .user {

    width: 16.75vw;
    height: 4.83vh;

    display: flex;
    gap: 0.63vw;
}

main .requests .users .user .nameSubscribers {

    width: 13.70vw;
    height: 3.99vh;

    display: flex;
    flex-direction: column;
    gap: 0.42vh;
}

main .requests .users .user .nameSubscribers .name {
    width: 100%;
    height: 1.89vh;
}

main .requests .users .user .nameSubscribers .subscribers {
    width: 100%;
    height: 1.89vh;
    color: #81818D;
    font-size: 0.73vw;
    letter-spacing: normal;
    font-weight: 400;
    height: 1.68vh;
    width: 6.04vw;
}

main .requests .users .user img {
    width: 2.41vw;
    height: 4.83vh;
}


main .messages {
    background-color: white;
    border: 1px solid #CDCED2;
    border-radius: 10px;

    width: 18.43vw;
    height: 26.13vh;

    display: flex;
    margin-top: 0.84vh;
    box-sizing: border-box;
    flex-direction: column;

    padding-left: 0.84vw;
    padding-top: 1.89vh;

    gap: 2.52vh
}

main .messages .blockName {
    color: #543C52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.41vh;

    width: 16.75vw;
}

main .messages .blockName .showAll {
    color: #543C52;
    width: 7.35vw;
}

main .messages .blockName .name {

    width: 16.75vw;
    height: 2.41vh;

    display: flex;
    align-items: center;
    font-size: 1.05vw;
    color: #81818D;
    gap: 0.42vw;
}

main .messages .blockName .name img {
    width: 1.05vw;
    height: 2.10vh;
}


main .messages .users {

    width: 16.75vw;
    height: 17.84vh;

    display: flex;
    flex-direction: column;
    gap: 0.84vw;
}

main .messages .users .user {

    width: 16.75vw;
    height: 4.83vh;

    display: flex;
    gap: 1.26vh;
}

main .messages .users .user .nameSubscribers {

    width: 13.70vw;
    height: 3.99vh;

    display: flex;
    flex-direction: column;
    gap: 0.42vh;
}

main .messages .users .user .nameSubscribers .nameTime {
    width: 98%;
    height: 1.89vh;
    display: flex;
    justify-content: space-between;
}

main .messages .users .user .nameSubscribers .nameTime .time {
    color: #81818D;
    font-size: 0.63vw;
}

main .messages .users .user .nameSubscribers .message {
    width: 100%;
    height: 1.89vh;
    color: #070A1C;
    font-size: 0.73vw;
    letter-spacing: normal;
    font-weight: 400;
    width: 6.56vw;
}

main .messages .users .user img {
    width: 2.41vw;
    height: 4.83vh;
}



main .postArea {
    width: 48.45vw;
    background-color: white;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    resize: none;
    padding-left: 0.84vw;
    padding-top: 1.68vh;
    padding-bottom: 1.68vh;
    box-sizing: border-box;
}

main .postArea input {
    width: 46.77vw;
    height: 2.31vh;
    outline: none;
    border: 0;
}


main .postArea .sendDiv {
    width: 46.77vw;
    height: 4.20vh;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.68vh;
    margin-top: 2.73vh;
}


.imageBtn {
    height: 4.20vh;
    border: none;
    background-color: white;
}

main .postArea .sendDiv .addImageBtn {
    height: 4.20vh;
    border: none;
    background-color: white;
    cursor: pointer;
}

main .postArea .sendDiv .addEmojiBtn {
    height: 4.20vh;
    border: none;
    background-color: white;
    cursor: pointer;
}

main .postArea .sendDiv .sendBtn {
    height: 4.20vh;

    background-color: #543C52;
    border-radius: 1234px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.73vw;
    color: white;
    font-size: 0.73vw;
    border: 0;
    cursor: pointer;
    padding-left: 0.84vw;
    padding-right: 0.84vw;
}

main .postArea .sendDiv .sendBtn #smallImage {
    height: 2.10vh;
}

main .postPostInput .post {
    width: 48.45vw;
    padding-bottom: 2.10vh;
    background-color: white;
    margin-top: 0.42vh;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding-left: 2.10vh;
    margin-bottom: 0.79vh;
}

main .postPostInput .post .postHeader {
    width: 48.45vw;
    height: 9.34vh;
    border-bottom: 1px solid #CDCED2;

    display: flex;
    align-items: center;

    display: flex;
    gap: 0.52vw;
    box-sizing: border-box;

}

main .postPostInput .post .postHeader .avatar {
    width: 2.41vw;
    height: 4.83vh;
}

main .postPostInput .post .postHeader .text {
    font-size: 0.73vw;
}

main .postPostInput .post .postHeader .paintingDiv {
    display: flex;
    justify-content: end;

    margin-left: 26.51vw;
}

.dotsDiv .dots {
    height: 2.10vh;
}

.dotsDiv {
    height: 2.10vh;
}

.dotsDiv button {
    border: 0;
    background-color: white;
    cursor: pointer;
}


main .postPostInput .post .postHeader .paintingDiv .painting {
    width: 11.55vw;
    height: 5.14vh;
}


main .postArea .post {
    background-color: white;
    width: 48.45vw;
}

main .postMain {
    display: flex;
    flex-direction: column;
    padding-top: 1.68vh;
}

main .postMain .text {
    font-weight: 400;
}

.link {
    font-weight: 400;
    margin-top: 1.68vh;
    color: #543C52;
}

.hashtags {
    font-weight: 400;
    color: #543C52;
}


main .postMain .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 46.35vw;
    gap: 0.84vw;
    margin-top: 1.68vh;
}

main .postMain .images .postImage1 {
    width: 22.73vw;
    height: 34.31vh;
}

main .postMain .images .postImage2 {
    width: 22.73vw;
    height: 34.31vh;
}

main .postMain .images .postImage3 {
    width: 14.86vw;
    height: 34.31vh;
}

main .postMain .images .postImage4 {
    width: 283px;
    height: 327px;
}

main .postMain .images .postImage5 {
    width: 283px;
    height: 327px;
}

main .postFooter {
    margin-bottom: 1.68vh;
}

main .postFooter img {
    width: 1.05vw;
}

.likesViews {
    width: 100%;
    height: 2.10vh;
    margin-top: 1.68vh;
    display: flex;
    gap: 2.52vh;
}


.likesViews .likes {
    display: flex;
    align-items: center;
    gap: 0.84vh;
    font-size: 0.73vw;
}

main .responses .response {
    width: 48.45vw;
    height: 21.83vh;
    background-color: white;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    margin-top: 0.84vh;
}


main .responses .response .headerResponse .avatarName img {
    height: 4.83vh;
}

main .responses .response .headerResponse .avatarName {
    width: 44.46vw;
    height: 4.83vh;
    display: flex;
    align-items: center;
    gap: 0.63vw;
}

main .responses .response .headerResponse {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
    height: 86px;
    border-bottom: 1px solid #CDCED2;
}


main .responses .response .mainResponse {
    display: flex;
    padding-left: 1.05vw;
    padding-top: 1.68vh;

    flex-direction: column;
}

.PostPostInput {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 94.12vh;
}

.likesImg {
    height: 2.10vh;
}

.mona {
    background-color: #E9E5EE;
}

.ann {
    background-color: #E9E5EE;
}

.publicationLink {
    color: #543C52;
    margin-top: 1.68vh;
}

.background-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}

.publication-creation {
    width: 40.68vw;
    height: 91.29vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 2.52vh 2.31vw 4.62vh 2.31vw;
    flex-direction: column;
    gap: 0.84vw;
}