* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    font-weight: 500;
    font-size: 0.84vw;
    color: #070A1C;
    letter-spacing: -1%;
    box-sizing: border-box;
}

@font-face {
    font-family: MainFont;
    src: url("/media/fonts/font.ttf");
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}

body {
    background-color: #FAF8FF;
    overflow-y: hidden;
}

header {
    height: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vw;
    margin-bottom: 3vh;
    padding-left: 3.65vw;
}

header .logo {
    height: 2vh;
}

header .tabsExit {
    display: flex;
    align-items: center;
    gap: 1.78vw;
}

header .tabsExit .exit {
    width: 5vw;
    height: 4.20vh;
    background-color: white;
    border-radius: 64.27vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 0.42vw;
    justify-content: center;
    cursor: pointer;
}

header .tabsExit .exit img {
    width: 1.05vw;
    height: 2.10vh;
}

header .tabsExit .tabs {
    display: flex;
    align-items: center;
    gap: 1.47vw;
}

header .tabsExit .tabs .tab {
    display: flex;
    align-items: center;
    padding-left: 0.42vw;
    padding-right: 0.42vw;
    gap: 0.47vw;
    height: 2.41vh;
}

header .tabsExit .tabs .tab img {
    display: flex;
    align-items: center;
    width: 1.05vw;
}

header a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

.contacts-and-create-div {
    display: flex;
    flex-direction: column;
    width: 18.28vw;
    height: 77.22vh;
    gap: 0.74vh;
    margin-left: 4.17vw;
}

.create-chat-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.28vw;
    height: 3.70vh;
    gap: 0.42vw;
    border-radius: 64.27vw;
    background-color: #543C52;
    color: white;
    border: none;
    font-size: 0.73vw;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.27vw;
    height: 75.09vh;
    gap: 2.22vh;
    background-color: white;
    border-radius: 0.52vw;
    border: 1px solid #CDCED2;
}

.contacts-header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 16.61vw;
    height: 2.13vh;
    gap: 0.42vw;
    margin-top: 1.48vh;
}

.contacts-header p {
    font-size: 1.04vw;
    color: #81818D;
}

.search {
    width: 16.61vw;
    height: 3.89vh;
    border-radius: 0.52vw;
    border: 1px solid #CDCED2;
    padding-left: 0.833vw;
}

.all-contacts {
    display: flex;
    flex-direction: column;
    width: 16.61vw;
    height: 60.46vh;
    gap: 1.48vh;
}

.profile {
    display: flex;
    align-items: center;
    width: 16.61vw;
    height: 4.26vh;
    gap: 1.48vh;
    cursor: pointer;
}

.profiles-text .text-content {
    font-size: 14px;
    color: #81818D;
}

.sendImg2 {
    display: none;
}

.sendEmoji {
    display: none;
}

.inputAndImages {
    overflow-y: auto;
    gap: 16px;
    overflow-x: hidden;
    max-height: 300px;
}

.imagesMessageDiv {
    display: flex;
    gap: 16px;
}

.messageImage {
    width: 150px;
    height: 200px;
}

.imagesMessageDiv img {
    width: 150px;
    height: 300px;
}

.sendImgImage {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sendEmojiImage {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.profile-text-div {
    display: flex;
    align-items: start;
    width: 13.59vw;
    height: 1.67vh;
}

.profile-text-div p {
    font-size: 0.83vw;
}

.speak-div {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 29.38vw;
    height: 77.13vh;
    border-radius: 0.52vw;
    border: 1px solid #CDCED2;
    margin-left: 0.47vw;
    background-color: white;
    padding-top: 1.679vh;
}

.headerGroup {
    width: 532px;
    height: 58px;

    display: flex;
    border-bottom: 1px solid #CDCED2;
    position: relative;
}

.headerStart {
    display: flex;
    align-items: center;

    width: 366px;
    height: 48px;
    gap: 16px;

}

.dotsDiv {
    position: absolute;
    top: 12px;
    right: 20px;
    border-radius: 0.26vw;
}

.dotsDiv .dots {
    height: 2.10vh;
    position: absolute;
    right: 0;
    top: 0;
}

.minilogo {
    width: 1.05vw;
    height: 1.05vw;
}

.edit {
    width: 100%;
    height: 3.15vh;
    display: flex;
    align-items: center;
    gap: 0.26vw;
    display: none;
}

.delete {
    width: 100%;
    height: 3.15vh;
    display: flex;
    align-items: center;
    gap: 0.26vw;
    display: none;
}

.dotsDiv {
    height: 2.10vh;
    background-color: white;
    padding-left: 0.26vw;
}

.dotsDiv button {
    border: 0;
    background-color: white;
    cursor: pointer;
}

.backImg {
    width: 20px;
    height: 20px;
}

.avatarGroup {
    width: 46px;
    height: 46px;
    border-radius: 1234px;
}

.nameAndMembers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.groupName {
    color: #070A1C;
    font-size: 24px;
}

.membersCount {
    color: #81818D;
    font-size: 14px;
}

::-webkit-scrollbar {
    display: none;
}

.mainGroup {
    height: 576px;
    width: 532px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 24px;
    gap: 10px;
}



.message {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nonAvatar {
    padding: 10px 23px 10px 10px;

    display: flex;
    align-items: end;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #E9E5EE;
    padding-left: 10px;
    gap: 10px;
    max-width: 200px;

}

.backImg {
    cursor: pointer;
}



.bottomGroup form {
    display: flex;
    width: 532px;
    justify-content: space-between;
}

.input {
    width: 356px;
    height: 42px;
    padding-left: 16px;
    color: #81818D;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.start-new-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2.22vh;
}

.title-of-div {
    font-size: 1.25vw;
}

.choose-contact {
    text-align: center;
}

.chat-messages-div {
    display: flex;
    flex-direction: column;
    width: 18.23vw;
    height: 77.22vh;
    gap: 0.74vh;
    margin-left: 0.25vw;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 18.28vw;
    height: 36.02vh;
    border: 1px solid #CDCED2;
    border-radius: 0.52vw;
    background-color: white;
    gap: 2.22vh;

}

.message-header {
    display: flex;
    justify-content: space-between;
    width: 18.28vw;
    height: 2.13vh;
    margin-top: 1.48vh;
    gap: 3.34vw;
}

.message-header-text {
    display: flex;
    width: 8.33vw;
    height: 2.13vh;
    gap: 0.42vw;
    margin-left: 0.83vw;
}

.message-header-text p {
    font-size: 1.04vw;
    color: #81818D;
}

.see-all {
    margin-right: 0.78vw;
    color: #543C52;
    text-decoration: none;
}

.messagesDateWrapper {
    text-align: center;
    height: 26px;
    background-color: #E9E5EE;
    color: #81818D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.messagesDateWrapperDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profiles-all-div {
    display: flex;
    flex-direction: column;
    width: 18.28vw;
    height: 28.70vh;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

.profiles-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.12vw;
    height: 5.74vh;
    gap: 1.48vh;

}

.profles {
    display: flex;
    align-items: center;
    width: 16.46vw;
    height: 4.26vh;
    gap: 0.63vw;

}

.proflesPersonal {
    display: flex;
    align-items: center;
    width: 16.46vw;
    height: 4.26vh;
    gap: 0.63vw;
}

.profiles-text {
    display: flex;
    flex-direction: column;
    width: 13.44vw;
    height: 4.07vh;
    gap: 0.37vh;
    cursor: pointer;
}

.profiles-text p {
    font-size: 0.73vw;
    font-weight: 400;
}

.header-time-prfl-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13.44vw;
    height: 1.67vh;
}

.time-text {
    font-weight: 400;
    font-size: 0.63vw;
    color: #81818D;
}

.group-chats {
    display: flex;
    flex-direction: column;
    width: 18.28vw;
    height: 40.46vh;
    border: 1px solid #CDCED2;
    border-radius: 0.52vw;
    background-color: white;
    gap: 2.22vh;
}

.groups-all-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 18.28vw;
    height: 34.44vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-now {
    background-color: #E9E5EE;
}

.avatarImage {
    width: 2.45vw;
    height: 4.26vh;
    border-radius: 1234px;
}

.contacts-icon {
    width: 1.09vw;
    height: 1.94vh;
}

.plus-icon {
    width: 1.09vw;
    height: 1.85vh;
}



.background-blur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}

.group-create {
    width: 490px;
    height: 777px;
    background-color: white;
    border-radius: 1.04vw;
    display: flex;
    padding: 0.45vh 0.75vw 4.62vh 2.31vw;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

#cancel-bg-blur {
    width: 100%;
    height: 2.62vh;
    text-align: end;
    background-color: white;
    border: 0;
    font-size: 0.84vw;
    cursor: pointer;
}

.NameTitle {
    font-size: 34px;
}

.input_find {
    width: 402px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #CDCED2;
    color: #81818D;
    font-size: 16px;
    background-image: url('http://i50.tinypic.com/20keohf.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 15px;
}

.choosed-num {
    color: #81818D;
    width: 402px;
}

.list-of-friends {
    height: 432px;
    overflow-y: scroll;
}

.list-of-friends {
    height: 432px;
    width: 402px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.userChoose {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 402px;
    height: 62px;
    margin-left: 16px;
}

.letter {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.avatar {
    width: 46px;
    height: 46px;

    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 1234px;
}

main .addedCheckbox {
    cursor: pointer;
}

.nameLastName {
    width: 280px;
    font-size: 16px;
}

.btn {
    height: 40px;
    border-radius: 1234px;


}

.btns {
    gap: 16px;
    width: 402px;
    display: flex;
    justify-content: end;
}

.btns button {
    padding: 0 16px 0 16px;
    color: white;
    border: 1px solid #543C52;
}

.btns .next {
    background-color: #543C52;
}

.btns .skipBtn {
    color: #543C52;
    background-color: white;
}

.group-create-2-step {
    display: none;
}

.nameLabel {
    font-size: 16px;
    width: 402px;
}

.nameInputBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.GroupAvatar {
    width: 46px;
    height: 46px;
    border-radius: 1234px;
}

.small_logo {
    width: 20px;
    height: 20px;
}

.GroupAvatarChoose {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.divPhoto {
    display: flex;
    gap: 24px;
}


.choosePhoto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addPhoto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hidden {
    display: none;
}



#sendMessage {
    width: 40px;
    height: 40px;
    background-color: #543C52;
    border: 0;
    border-radius: 1234px;
    cursor: pointer;
}

.sendImg {
    width: 20px;
    height: 20px;
}

.avatarMessage {
    width: 46px;
    height: 46px;

    border-radius: 1234px;
}

.message {
    display: flex;
    align-items: center;
    gap: 4px;
}



.usernameAndTextcontent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.datetime {
    color: #81818D;
    font-size: 10px;
    width: 30px;
}

#datetimeFromMe {
    color: #81818D;
    font-size: 10px;
    width: 30px;
}

.nonAvatarFromMe {
    padding: 10px 23px 10px 10px;

    display: flex;
    align-items: end;
    border-radius: 6px;
    background-color: #CDCED2;
    border: 1px solid #CDCED2;
    padding-left: 10px;
    gap: 10px;
    max-width: 300px;
}

.messageFromMe {
    display: flex;
    justify-content: end;
    width: 100%;
}


.authorUsename {
    font-size: 10px;
    color: #543C52;
}

.messageContent {
    font-size: 14px;
    color: #070A1C;
    max-width: 150px;
    word-wrap: break-word;
}