* {
    margin: 0;
    padding: 0;
    font-family: MainFontMedium;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 0.84vw;
}

@font-face {
    font-family: MainFontMedium;
    src: url("/media/fonts/fontMedium.ttf");
}



label,
input {
    display: flex;
    flex-direction: column;
    gap: 0.31vw;
    width: 13.12vw;
}


input {
    margin-top: 0.63vh;
    width: 21.00vw;
    height: 4.41vh;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding-left: 0.84vw;
}

span {
    display: none;
}

ul {
    display: none;
}

/* #id_password2 {
    margin-top: -16px;
} */


/* #id_password2 label {
    margin-top: -16px;
} */

main {
    width: 100vw;
    height: 100vh;
    padding-left: 13.39vw;
    background-color: #E9E5EE;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.89vw;
}

.formDiv {
    width: 25.56vw;
    height: 396px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.62vh;
    box-sizing: border-box;

    border-radius: 20px;
    gap: 1.89vw;
    z-index: 100;
    padding-bottom: 3.78vh;
}

.greatings {
    font-size: 1.26vw;
    color: #070A1C;
}

.choosed {
    font-weight: 700;
    color: #070A1C;
    border-bottom: 2px solid black;
}

.regLogin {
    display: flex;
    gap: 1.26vw;
    padding-right: 0.52vw;
}

.regLogin {
    display: flex;
    gap: 1.26vw;
    padding-right: 0.52vw;
}


a {
    font-size: 1.78vw;
    color: #81818D;
    height: 4.93vh;
    text-align: center;
    text-decoration: none;
}

.withoutButton {
    width: 21.00vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 0.84vw;
}

.submit {
    width: 21.00vw;
    height: 5.46vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #543C52;
    border-radius: 1234px;

    color: white;
    border: 0;
}

.username {
    display: none;
}


header {
    width: 100%;
    height: 9.23vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 7.61vw;
    height: 1.89vh;
}

.laptop-img {
    width: 35.70vw;
    height: 27.66vw;
    position: absolute;
    left: 40.26vw;
    top: 26.02vh;
}