{% extends "base.html" %}
{% load static %}

{% load static %}

{% block title %}

Авторизація

{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/login/login.css' %}">
{% endblock %}

{% block content %}

<header>
    <img src="{% static 'authorization/img/WIT.png' %}" alt="">
</header>

<main>
    <div class="formDiv">
        <div class="regLogin">
            <a href="{% url 'register' %}">Реєстрація</a>
            <a href="{% url 'login' %}" class="choosed">Авторизація</a>
        </div>
        <p class="greatings">Раді тебе знову бачити!</p>
        <form method="post">
            <div class="withoutButton">
                {% csrf_token %}
                {{ form.as_p }}
            </div>

            <button type="submit" class="submit">Увійти</button>
        </form>
    </div>
    <img src="{% static 'authorization/img/laptop.png' %}" class="laptop-img">
</main>
{% endblock %}