{% extends 'base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'settings_app/css/settings.css' %}">
<script src="{% static 'settings_app/js/settings.js' %}" defer></script>
{% endblock %}


{% block content %}

<header>
    <img src="{% static 'images/logo.png' %}" class="logo">

    <div class="tabsExit">
        <div class="tabs">
            <a href="{% url 'main' %}" class="main tab"><img src="{% static 'images/main.png' %}">Головна</a>

            <a href="{% url 'my_publications' %}" class="publications tab"><img
                    src="{% static 'images/publications.png' %}">Мої публікації</a>

            <a href="{% url 'main' %}" class="friends tab"><img src="{% static 'images/friends.png' %}">Друзі</a>

            <a href="{% url 'main' %}" class="chats tab"><img src="{% static 'images/chat.png' %}">Чати</a>

            <a href="{% url 'settings' request.user.id %}" class="settings tab"><img
                    src="{% static 'images/settings.png' %}">Налаштування</a>

        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="exit" onclick=""><img src=" {% static 'images/exit.png' %}">Вихід</button>
        </form>

    </div>
</header>



<main>
    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
        {% if field.name != "password" %}
        <div class="field-with-label">
            <div>{{field.label}}</div>
            <div>{{field}}</div>
        </div>
        {% endif %}
        {% endfor %}
        <button>Надіслати</button>
    </form>
</main>
{% endblock %}