{% extends 'base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'settings_app/css/settings.css' %}">
<script src="{% static 'js/jquery-3.7.1.min.js' %}" defer></script>
<script src="{% static 'settings_app/js/settings.js' %}" defer></script>
{% endblock %}


{% block content %}

<header>
    <img src="{% static 'images/logo.png' %}" class="logo">

    <div class="tabsExit">
        <div class="tabs">
            <a href="{% url 'main' %}" class="main tab"><img src="{% static 'images/main.png' %}">Головна</a>

            <a href="{% url 'my_publications' %}" class="publications tab"><img
                    src="{% static 'images/publications.png' %}">Мої публікації</a>

            <a href="{% url 'friends' %}" class="friends tab">
                <p class="friends-tracker">{{requests|length}}</p><img src="{% static 'images/friends.png' %}">Друзі
            </a>

            <a href="{% url 'chats' %}" class="chats tab"><img src="{% static 'images/chat.png' %}">Чати</a>

            <a href="{% url 'settings' request.user.id %}" class="settings tab tab-now"><img
                    src="{% static 'images/settings.png' %}">Налаштування</a>

        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="exit" onclick=""><img src=" {% static 'images/exit.png' %}">Вихід</button>
        </form>

    </div>
</header>



<main>

    <main>
        <div class="main-div">
            <div class="menu-options">
                <a class="menu-urls" href="{% url 'settings' request.user.id %}"><u id="MainText"
                        title="Подчеркнутый текст">Особиста інформація</u></a>
                <a class="menu-urls" id="Alboms" href="{% url 'albums' %}">Альбоми</a>
            </div>
            <div class="options-div">
                <div class="card-profile-div headerDiv">
                    <form action="{% url 'save_photo' %}" method="post" enctype="multipart/form-data"
                        class="avatar-and-textdiv">
                        <div class="card-profile-header">
                            <p>Картка профілю</p>
                            <button class="edit-information-btn-header"><img class="editImg"
                                    src="{% static 'images/edit2.png' %}" alt="">Редагувати інформацію</button>
                        </div>
                        {% csrf_token %}
                        <p class="title hidden">Оберіть або завантажте фото профілю</p>
                        <p>{{ request.user.profile.Avatar}}</p>
                        {% if user_image %}
                        <div class="avatarDiv">
                            <label for="imageInput">
                                <img src="{{ user_image.url }}" alt="">
                            </label>
                        </div>
                        {% else %}
                        <div class="avatarDiv">
                            <label for="imageInput">
                                <img src="{% static 'images/standart_user_image.png' %}" alt="">
                            </label>
                        </div>
                        {% endif %}
                        <input type="text" name="photo" class="hidden" id="imageInput" value="photo">
                        <div class="divPhoto">
                            <label for="imageInput">
                                <div class="AddPhoto">
                                    <img src="{% static 'images/add_tag.png' %}" class="small_logo">
                                    <p class="AddPhotoText">Додайте фото</p>
                                </div>
                            </label>

                            <label for="imageInput">
                                <div class="choosePhoto">
                                    <img src="{% static 'images/publications.png' %}" class="small_logo">
                                    <p class="AddPhotoText">Оберіть фото</p>
                                </div>
                            </label>
                        </div>
                        <div class="nickname-name">
                            <p class="nickname-text">{{user.first_name}} {{user.last_name}}</p>
                            <p class="username">@{{user.username}}</p>
                            <label for="inputUsername" class="label">Ім'я користувача</label>
                            <input type="text" class="input" id="inputUsername" value="{{user.username}}">
                        </div>
                    </form>
                </div>
                <div class="personal-information-div">
                    <form method="post" class="personal-information-form">
                        <div class="personal-information-header">
                            <p>Особиста інформація</p>
                            <button class="edit-information-btn-main redact"><img class="editImg"
                                    src="{% static 'images/edit2.png' %}" alt="" type="button">Редагувати
                                інформацію</button>
                        </div>
                        <div class="all-inputs-div">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name != "password" %}
                            <div class="input-div">
                                <p>{{field.label}}</p>
                                <div class="name-input-div">{{field}}</div>
                            </div>
                            {% elif field.name == "password" %}
                            <p></p>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                    <form method="post" class="password-form" action="{% url 'save_password' %}">
                        <div class="personal-information-header">
                            <p>Пароль</p>
                            <button class="edit-password-btn-main redact" type="button"><img class="editImg"
                                    src="{% static 'images/edit2.png' %}" alt="">Редагувати пароль</button>
                        </div>
                        <div class="all-inputs-div">
                            {% csrf_token %}
                            <div class="input-div">
                                <p class="password-text-name">Пароль</p>
                                <div class="password-div">
                                    <input type="password" class="password1" placeholder="" name="password1"><img src=""
                                        alt="">
                                </div>
                                <p class="password-text-name-form">Підтвердження пароля</p>
                                <div class="password-div-1">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <form class="signature-options-div" action="{% url 'save_sign' %}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="signature-options-header">
                        <p>Варіанти підпису</p>
                        <button class="edit-information-btn-sign"><img src="{% static 'images/edit2.png' %}"
                                alt="">Редагувати інформацію</button>
                    </div>
                    <div class="name-and-signature-div">
                        <div class="name-and-surname">
                            <div class="name-and-surname-header">
                                <img src="{% static 'images/checkbox.png' %}" alt="">
                                <p class="name-and-surname-text">Ім’я та прізвище</p>
                            </div>
                            <p>{{user.username}}</p>
                        </div>
                        <div class="signature-only-div">
                            <div class="signature-only-div-header">
                                <img src="{% static 'images/checkbox.png' %}" alt="">
                                <p class="sign-text">Мій електронний підпис</p>
                            </div>
                            <label for="" class="signature-img-div">
                                {% if user.profile.signature %}
                                <img src="{{user.profile.signature.url}}" class="signImage">
                                {% endif %}
                                <canvas class="paint-sign"></canvas>
                            </label>
                            <div class="color-picker">
                                <div class="color active" data-color="#070A1C"></div>
                                <div class="color" data-color="#543C52"></div>
                            </div>
                            <input type="button" id="signInput" class="hidden" name="sign">
                            <button class="edit-sign-btn">Редагувати підпис</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <div class="background-blur">
        <div class="publication-creation">
            <button type="button" id="cancel-bg-blur">x</button>
            <p class="title">Підтвердження для зміни паролю</p>
            <p class="guide">
                Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт
            </p>
            <form method="post" action="{% url 'save_email_password_verify' %}">
                <input type="text" name="password1" class="password1-hide hidden">
                <input type="text" name="password2" class="password2-hide hidden">
                {% csrf_token %}
                <div class="form-group">
                    <label for="verification_code">Код підтвердження:</label>

                    <div class="inputBlocks">
                        <input type="text" name="verification_code1" id="verification_code1" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                        <input type="text" name="verification_code2" id="verification_code2" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                        <input type="text" name="verification_code3" id="verification_code3" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                        <input type="text" name="verification_code4" id="verification_code4" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                        <input type="text" name="verification_code5" id="verification_code5" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                        <input type="text" name="verification_code6" id="verification_code6" maxlength="1" required
                            pattern="[0-9]" class="input-verify">
                    </div>
                </div>
                <button type="submit" class="submit">Підтвердити</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}