{% extends 'base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'settings_app/css/settings.css' %}">
<script src="{% static 'settings_app/js/settings.js' %}" defer></script>
{% endblock %}


{% block content %}

<header>
    <img src="{% static 'images/logo.png' %}" class="logo">

    <div class="tabsExit">
        <div class="tabs">
            <a href="{% url 'main' %}" class="main tab"><img src="{% static 'images/main.png' %}">Головна</a>

            <a href="{% url 'my_publications' %}" class="publications tab"><img
                    src="{% static 'images/publications.png' %}">Мої публікації</a>

            <a href="{% url 'main' %}" class="friends tab"><img src="{% static 'images/friends.png' %}">Друзі</a>

            <a href="{% url 'chats' %}" class="chats tab"><img src="{% static 'images/chat.png' %}">Чати</a>

            <a href="{% url 'settings' request.user.id %}" class="settings tab tab-now"><img
                    src="{% static 'images/settings.png' %}">Налаштування</a>

        </div>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="exit" onclick=""><img src=" {% static 'images/exit.png' %}">Вихід</button>
        </form>

    </div>
</header>



<main>

    <main>
        <div class="main-div">
            <div class="menu-options">
                <a class="menu-urls" href="{% url 'settings' request.user.id %}"><u id="MainText" title="Подчеркнутый текст">Особиста інформація</u></a>
                <a class="menu-urls" id="Alboms" href="{% url 'albums' %}">Альбоми</a>
            </div>
            <div class="options-div">
                <div class="card-profile-div">
                    <form action="{% url 'save_photo' %}" method="post" enctype="multipart/form-data"
                        class="avatar-and-textdiv">
                        <div class="card-profile-header">
                            <p>Картка профілю</p>
                            <button class="edit-information-btn-header"><img class="editImg"
                                    src="{% static 'images/edit2.png' %}" alt="">Редагувати інформацію</button>
                        </div>
                        {% csrf_token %}
                        {% if request.user.profile.photo %}
                        <div class="avatarDiv">
                            <label for="imageInput">
                                <img src="{{ request.user.profile.photo.url }}" alt="">
                            </label>
                        </div>
                        {% else %}
                        <div class="avatarDiv">
                            <label for="imageInput">
                                <img src="{% static 'images/avatar.png' %}" alt="">
                            </label>
                        </div>
                        {% endif %}
                        <input type="text" name="photo" class="hidden" id="imageInput" value="photo">
                        <div class="nickname-name">
                            <p class="nickname-text">{{user.first_name}} {{user.last_name}}</p>
                            <p>@{{user.username}}</p>
                        </div>
                    </form>
                </div>
                <div class="personal-information-div">
                    <form method="post">
                        <div class="personal-information-header">
                            <p>Особиста інформація</p>
                            <button class="edit-information-btn-main redact"><img class="editImg"
                                    src="{% static 'images/edit2.png' %}" alt="" type="button">Редагувати
                                інформацію</button>
                        </div>
                        <div class="all-inputs-div">
                            {% csrf_token %}
                            {% for field in form %}
                            {% if field.name != "password" %}
                            <div class="input-div">
                                <p>{{field.label}}</p>
                                <div class="name-input-div">{{field}}</div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <form class="signature-options-div" action="{% url 'save_sign' %}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="signature-options-header">
                        <p>Варіанти підпису</p>
                        <button class="edit-information-btn-sign"><img src="{% static 'images/edit2.png' %}"
                                alt="">Редагувати інформацію</button>
                    </div>
                    <div class="name-and-signature-div">
                        <div class="name-and-surname">
                            <div class="name-and-surname-header">
                                <img src="{% static 'images/checkbox.png' %}" alt="">
                                <p>Ім’я та прізвище</p>
                            </div>
                            <p>{{user.username}}</p>
                        </div>
                        <div class="signature-only-div">
                            <div class="signature-only-div-header">
                                <img src="{% static 'images/checkbox.png' %}" alt="">
                                <p>Мій електронний підпис</p>
                            </div>
                            <label for="signInput" class="signature-img-div">
                                <img src="{{user.profile.sign.url}}" class="signImage">
                            </label>
                            <input type="button" id="signInput" class="hidden" name="sign">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</main>
{% endblock %}